{% extends "base.html" %}

{% block naslov %}Adding a topic{% endblock %}

{% block vsebina %}
<div class="row">
  <div class="col-lg-6 col-md-6">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

      <div class="form-group">
        <label>Title</label>
        <input name="title" class="form-control" required>
      </div>

      <div class="form-group">
        <label>Content</label>
        <textarea name="text" class="form-control" rows="6" required></textarea>
      </div>

      <div class="form-group">
        <label>What is the sum of 2 and 8?</label>
        <input type="text" class="form-control" rows="6" id="sum-two-numbers" required>
      </div>

      <button type="submit" class="btn btn-success" id="topic-btn">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
      var SumNumbers = $("#sum-two-numbers");
      var TopicBtn = $("#topic-btn");

      TopicBtn.click(function(e) {
          if (SumNumbers.val() === "10"){
              TopicBtn.hide();
              console.log("You can post your topic");
          } else {
              alert("Your answer is wrong!");
              e.preventDefault();
          }
      });
  });
</script>
{% endblock %}